<div class="c-dashboard">
  <div class="c-filters__container">
    <v-search-filter v-props-value="homePageVm.searchText" v-on-input="homePageVm.onSearchTextChange"></v-search-filter>
  </div>

  <employees-list employees-list="homePageVm.employees" search-text="homePageVm.searchText"></employees-list>

  <div class="c-dashboard__footer">
    <button ng-click="homePageVm.loadMore()" ng-if="!homePageVm.isLastPage" ng-disabled="homePageVm.isLoading" class="c-button">
      Load More
      <div ng-if="homePageVm.isLoading" class="lds-dual-ring"></div>
    </button>
  </div>
</div>
